/*
Theme Name: Campus (child of Hultsfreds kommun theme)
Theme URI:
Author: the Hultsfred team
Author URI: http://wordpress.org/
Description: Child of Hultsfredskommun theme
Version: 0.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: hultsfredskommun
Template: hultsfredskommun
*/

@import url("../hultsfredskommun/style.css?version=1.4");
/*body {
	background-image: url(images/bg.png);
	background-repeat: repeat-x;
}*/
.content {
	word-break: break-word;
}
.footer-widget-wrapper {
	padding-bottom: 80px;
}
.link-text, a, a:active, a:focus, .article-wrapper .summary-content .entry-content .introwords, .cookieinformation .textwidget a, .category-navigation .parent li.current-cat > a > i, .category-navigation .parent li.current-cat > a
{
	color: #22B14C;
}
.main-sub-menu {
	border-radius: 3px;
}
.main-sub-menu .menu-item:first-child,
.main-sub-menu .menu-item:first-child a {
	border-radius: 3px;
}
.main-sub-menu .current-menu-item a
{
	/*background-image: url(images/spr_bgButtons.png);
	background-position: 0px 0px;*/
	background-color: rgba(120,120,120,0.8);
	text-decoration: underline;
}
.searchnavigation .form .input-wrapper {

}

.responsive-menu a, .responsive-navigation,
.main-background, .page-header .category-tools .related-menu,
.page-header .category-tools .menu-item .sub-menu, .cookieinformation,
.top-menu-wrapper,
.top-menu-wrapper .top-menu .menu-item .sub-menu, .responsive-menu a, .footer2-wrapper, .footer2-wrapper a, .footer-image-wrapper,
.button,
.top-menu-wrapper {
	background-color: #0db14b; //#3f3f3f;
}
.searchnavigation .form {
	border: 2px solid #3f3f3f;
	background: rgba(255,255,255,0.7);
}
.searchnavigation .form .submit {
	background-color: transparent;
	background-position: -260px -540px;
}
.button,
.button:hover {
	border-color: #3f3f3f;
	color: white;
}

.horizontal-list.widget.widget_hk_related_widget {
	background: #666!important;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

}
.left-content {
	background-color: white!important;
}
.left-content,
.left-content h1,
.left-content a {
	color: black!important;
}
.slideshow-contact-puff-area .contact-icon {
	background-position: -198px -612px;
}
.top-menu-wrapper {
	background: transparent;
}
.top-menu-wrapper li a {
	color: #3f3f3f;
}
.main-menu {
	display:none!important;
}
.main-sub-menu li.right-nav-menu-item  h4,
.main-sub-menu {
  /* .beta */
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  /* .gamma */
  /*
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;*/
  background-color: #0db14b; //#3f3f3f;
  font-weight: normal;
  margin-bottom: 0;
}
.main-sub-menu  li a {
  border: 0;
}
.main-sub-menu .current-category-ancestor a,
.main-sub-menu .current-menu-item a {
  border-radius: 3px;
}
/* Sub Menu */
.main-sub-menu {
  /*background-image: url(images/spr_bgButtons.png);*/
}
.main-sub-menu li.right-nav-menu-item,
.main-sub-menu a {
  color: #fff;
  background-color: transparent;
}
.main-sub-menu .more-menu-ul a {
  color: #3f3f3f;
}

.more-menu .more-menu-ul li{
	background-color: #ffffff;
}
.footer2-wrapper,
.footer2-wrapper a,
.footer-image-wrapper {
	background-color: #e8e8e8;//#c6cacb;
	color: #3f3f3f;
}


/* borders */
.border-line--left, .category-navigation .parent li, .category-navigation .more-navigation li {
  border-left: 1px solid #c6cacb;
}

.border-line-main--left, .category-navigation .parent li.current-cat > .children > li, .category-navigation .more-navigation li.current-tag, .category-navigation .more-navigation li:hover {
  border-left: 1px solid #22B14C;
}

.page-header {
	background: #fff;
}

/* aside */
.side-content .optional-text {
	background-color: #22B14C!important;
	color: #fff;
}
.contact-background, .contact-small-background, .article-border-wrapper .article-wrapper .single-content .quick-links .contact, .article-border-wrapper .article-wrapper .more-content .quick-links .contact, .side-content ul.contacts .title.contact_title {
	background: #22B14C;
}
.contact-background, .side-content ul.contacts {
	background: #CEF1D8;
}
.contact-background, .side-content ul.contacts a {
	color: #000;
	text-decoration: underline;
}

/* firstpage */
.firstpage-sidebar {
	width: 50%!important;
}
#ie7 .firstpage-sidebar,
#ie8 .firstpage-sidebar {
	width: 582px!important;
}
@media only screen and (max-width: 969px) {
.firstpage-sidebar {
	width: 100%!important;
}
}
.firstpage-sidebar .widget.widget_hk_textwidget {
	border-radius: 4px;
	background: #efffef;
	border: 1px solid #22B14C;
	box-shadow: 2px 2px 10px #bbb;
	margin: 0px;
	padding: 12px;
}
.main .firstpage-pre-footer-sidebar .widget.widget_hk_textwidget {
	margin: 24px 20px 0 0;
	float: left;
}
.main .firstpage-pre-footer-sidebar .widget.widget_hk_textwidget img.image {
	width: auto;
}

/* main color
.main-background, .top-menu-wrapper, .main-menu a:hover, .main-menu:hover a:hover, .main-menu .current-category-ancestor a, .main-menu .current-menu-item a, .footer2-wrapper, .footer2-wrapper a, .footer-image-wrapper {
	background-color: #22B14C;
}



.ui-tabs li.ui-state-active a,
.ui-tabs li.ui-state-default a:hover,
.ui-tabs li.ui-state-default a:focus {
	border-bottom: 1px solid #22B14C;
}

body {
	background-image: url('/files/2013/03/rockcity_street.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.searchnavigation .form .input-wrapper {
	background-color: white;
}

.top-wrapper .logo a img {
	margin: -23px 0 -6px 0;
}

.main-menu {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: rgba(215, 241, 220, 1);
	border-bottom: 1px solid #1F9900;
}
.main-sub-menu {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: rgba(255, 255, 255, 1);
}
.main-sub-menu a {
	margin-right: 6px;
}
*/
 /* =Responsive Structure
----------------------------------------------- */

@media only screen and (max-width: 1150px) {
	.main-sub-menu  {
		background: transparent!important;
	}
	.main-sub-menu li {
		background-color: #0db14b; //#3f3f3f;

		border-radius: 3px;
		margin: 0 12px 12px 0;
		background-position: 0 0;
		border: 1px solid #0db14b; //#3f3f3f;
	}
	.responsive-menu {
		display: none;
	}
	.responsive-sub-menu {
		border-radius: 3px;
		background-color: #0db14b; //#3f3f3f;
		margin: 0 12px 12px 0;
		/*background-image: url(images/spr_bgButtons.png);
		background-position: 0 0;*/
		border: 1px solid #0db14b; //#3f3f3f;
	}
	.responsive-sub-menu .title {
		color: white;
	}
	.responsive-sub-menu .menu-icon.up {
		background-position: -55px -61px;
	}
	.responsive-sub-menu .menu-icon {
		background-position: -208px -470px;
	}
}
}


/* LARGE */
@media (max-width: 1000px) {

}

/* BETWEEN MEDIUM AND LARGE */

@media (max-width: 900px) {

}


/* MEDIUM */

@media (max-width: 800px) {

}


/* BETWEEN SMALL AND MEDIUM */

@media (max-width: 750px) {

}


/* SMALL */

@media (max-width: 650px) {

}


/* MOBIL */

@media (max-width: 540px) {
	.right-content.two,
	.direct_link {
		height: auto!important;
		width: 100%!important;
		border-radius: 0px!important;
		border-left: 0px!important;
	}
}




@media print {

}
